
.overlay {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  transition:all 0.3s ease-in-out;

  

  .drawer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    right: 0;
    height: 100%;
    max-width: 410px;
    width: 100%;
    background-color: #ffff;
    padding: 30px;
    transition: all 0.3s ease-in-out;
    transform: translateX(100%);

    h2 {
      display: flex;
      justify-content: space-between;
      margin-bottom: 30px;
      img {
        cursor: pointer;
        margin-top: 8.5px;
        transition: 0.2s ease-in-out;
        opacity: 0.5;
        height: 20px;

        &:hover {
          opacity: 1;
        }
      }
    }

    .items {
      flex: 1;
      overflow: auto;
      margin-bottom: 40px;
    }

    .cartItem {
      display: flex;
      align-items: center;
      border: 1px solid rgba(234, 234, 234, 1);
      border-radius: 20px;
      overflow: hidden;
      padding: 15px 20px;
      margin-bottom: 20px;

      .cartItemImg {
        height: 70px;
        width: 70px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 0 0;
        margin-right: 20px;
      }

      .infoText {
        flex: 1;

        p {
          font-size: 16px;
        }

        b {
          font-size: 14px;
        }
      }

      .remove {
        cursor: pointer;
        opacity: 0.5;
        transition: opacity 0.15s ease-in-out;

        &:hover {
          opacity: 1;
        }
      }
    }

    .carttotalBlock {
      ul {
        margin-bottom: 10px;
        li {
          display: flex;
          justify-content: space-between;
          margin-bottom: 19px;

          div {
            flex: 1;
            height: 1px;
            border-bottom: 1px dashed #dfdfdf;
            position: relative;
            top: 15px;
            margin: 0 7px;
          }
        }
      }
      .greenBtn {
        cursor: pointer;
        position: relative;

        &:disabled {
          background: #bebebe;
          cursor: default;
        }

        &:hover {
          img {
            transform: translateX(5px);
          }
        }
        img {
          position: absolute;
          right: 35px;
          top: 22px;
          transition: all 0.2s;
        }
      }
    }

    .greenBtn {
      height: 55px;
      width: 100%;
      border: none;
      background: #9dd558;
      border-radius: 18px;
      color: #ffff;
      font-size: 16px;
      font-weight: 500;
      transition: 0.2s ease-in-out;

      &:hover {
        background: lighten($color: #9dd558, $amount: 10%);
      }

      &:active {
        background: darken($color: #9dd558, $amount: 10%);
      }
    }
  }
}
.overlayVisible{
  visibility:visible;
  opacity: 1;
  .drawer{
    transform: translateX(0);
  }
}
