* {
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  padding: 0;
  font-family: "inter", system-ui;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e7f6ff;
}
.wrapper {
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  max-width: 1080px;
  margin: 50px auto;
}

// .sideBar{
//   visibility: hidden;
// }

.content {
  padding: 40px;
}

.titleSearch {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;

  .search {
    display: flex;
    align-items: center;
    border-radius: 10px;
    border: 1px solid rgba(243, 243, 243, 1);
    padding: 0 14px;
    position: relative;

    input {
      border: none;
      padding: 10px;
      font-size: 16px;
      width: 200px;
    }
    .clear{
      position: absolute;
      right: 10px;
      opacity: 0.5;
      cursor: pointer;

      &:hover{
        opacity: 0.8;
      }
    }
  }
}

.sneakers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media(max-width:1920px){
  .titleSearch{
    h1{
      max-width: 700px;
      overflow: hidden;
    }
  }
}
@media(max-width:768px){
  .titleSearch{
    flex-direction: column;

    h1{
      max-width: 300px;
      overflow: auto;
    }
  }
  .search{
    margin-top: 10px;
  }
}




